<p class="fail_notice"><%= notice %></p>

<%= form_for(@trip) do |f| %>

  <div class="form-small">
    <%= f.label :title, "Title (100 character max)" %>
    <%= f.text_field :title%>
  </div>

  <div class="form-small">
    <%= f.label :length, "Duration" %>
    <%= f.text_field :length %>
  </div>

  <div class="form-small">
    <%= f.label :location %>
    <%= f.select :location, ['North America', 'Central America', 'South America', 'Europe', 'Africa', 'Middle East', 'Asia', 'Oceania', 'Other']%>
  </div>

  <div class="form-small">
    <%= f.label :price, "Approx. Price ($)" %>
    <%= f.number_field :price %>
  </div>

  <div class="form-small">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>

  <div class="form-large">
    <%= f.label :overview %>
    <%= f.text_area :overview, class: "text-input" %>
  </div>

  <div class="form-large">
    <%= f.label :tips %>
    <%= f.text_area :tips, class: "text-input" %>
  </div>

  <div class="form-small">
    <%= f.submit "Submit Update" %>
  </div>
<% end %>
