<h1>1. Welcome to the Travel Trips Home Page</h1>

<% if user_signed_in? %>
  <h3> 2. Welcome <u><%= current_user.name %>. Thanks for signing in!</u></h3>
<% else %>
  <h3>3. Sign in if you would like to write a review </h3>
<% end %>

<h2> 4. List of trips </h2>
<ol type="a">
  <% @trips.each do |trip| %>
  <li>
    <h2><%= link_to trip.title, trip%> </h2>
    <h4>  Location: <%= trip.location %></h4>
    <h4>  Length: <%= trip.length %></h4>
    <h4>  Price: <%= trip.price %></h4>
  </li>
  <%end%>
</ol>

<h4><%= link_to "Add New Trip", new_trip_path %></h4>
