<h2><%= @trip.title%> </h2>
<h3>Location: </h3>
  <p><%= @trip.location %></p>
<h3>Length: </h3>
  <p><%= @trip.length %></p>
<h3>Price(approx): </h3>
  <p>$<%= @trip.price %></p>
<h3>Overview: </h3>
  <p><%= @trip.overview %></p>
<h3>Tips: </h3>
  <p><%= @trip.tips %></p>
  <hr>

  <%= link_to "Edit Article", edit_trip_path(@trip) %>
  <% if !current_user.nil? %>  |
  <%= link_to 'Delete Article', @trip, method: :delete, data:{ confirm: 'Are you sure?' } %>
  <% end %>
  <hr>

<%= render 'reviews' %>


<% if !current_user.nil? %>
  <%= render "reviews/review_form" %>
<% end %>
